/* projects */

#projects {
  padding-top: 50px;
}

/* search */

#projectsSearch {
  display: flex;
  margin: 15px 30px 5px 30px;
  flex-wrap: wrap;
}

#projectsSearch > * {
  margin-bottom: 10px;
}

/* name input */

#nameInput {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--mid);
  font-size: 16px;
  font-family: 'poppinsRegular';
  color: var(--text);
  background-color: inherit;
  transition: 0.3s;
}

#nameInput:hover {
  border-bottom: 2px solid var(--accent);
  transition: 0.3s;
}

#nameInput:focus {
  border-bottom: 2px solid var(--accent);
  transition: 0.3s;
}

::placeholder {
  font-family: 'poppinsRegular';
  color: var(--neutral);
}

/* member input */

#memberInput {
  position: relative;
  width: 175px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--mid);
  margin-right: 15px;
  transition: 0.3s;
  transition-delay: 0.3s;
}

#memberInput.activeInput {
  border-radius: 5px 5px 0 0;
  transition: 0s;
  transition-delay: 0s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

#memberInput .memberName {
  font-family: 'poppinsRegular';
  color: var(--text);
  font-size: 14px;
}

#memberInput .memberImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  clip-path: circle(50% at center);
  background-color: var(--main);
}

#memberSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#memberSelectIcon {
  color: var(--text);
  margin-right: 15px;
  font-size: 20px;
  transition: 0.3s;
}

#memberSelectIcon:hover {
  cursor: pointer;
  color: var(--accent);
  transition: 0.3s;
}

#memberInput.activeInput #memberSelectIcon {
  transform: rotate(180deg);
}

#memberInput .memberText {
  color: var(--neutral);
}

#memberDropdown {
  width: 175px;
  top: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 0px;
  overflow: auto;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  background-color: var(--mid);
  transition: 0.3s;
}

#memberInput.activeInput #memberDropdown {
  height: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

#memberInput .member {
  display: flex;
  align-items: center;
  padding: 10px;
}

#memberDropdown .member:hover {
  cursor: pointer;
}

/* tag input */

#tagInput {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-family: 'poppinsRegular';
  background-color: var(--mid);
  border-radius: 5px;
  max-width: calc(100% - 20px);
}

#tagInput p {
  margin-right: 10px;
  color: var(--neutral);
}

#tagList {
  min-height: 50px;
  overflow: auto;
  display: flex;
}

.tag {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: var(--main);
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  padding: 0 10px;
}

.tagName {
  min-width: 40px;
  margin-right: 10px;
  color: var(--text);
}

.tagRemove, .tagAdd {
  color: var(--text);
  font-size: 16px;
  transition: 0.3s;
}

.tagRemove:hover, .tagAdd:hover {
  cursor: pointer;
  color: var(--accent);
}

/* new tag */

#newTag {
  display: none;
}

#newTagInput {
  color: var(--text);
  outline: none;
  min-width: 40px;
  margin-right: 10px;
}

#newTagInput:empty::before {
  content: 'tag';
  display: inline-block;
  color: var(--neutral);
}

/* results */

#projectsResults {
  margin: 30px;
  width: calc(100% - 60px);
}

/* project */

.project {
  width: 100%;
  background-color: var(--mid);
  display: flex;
  flex-direction: column;
  font-family: "poppinsRegular";
  margin-bottom: 30px;
}

/* project info */

.projectInfo {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.projectName {
  font-size: 30px;
  color: var(--text);
}

.projectDescription {
  margin-top: 15px;
  line-height: 1.3;
  color: var(--neutral);
}

/* project link */

.projectLink {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: auto;
  color: var(--neutral);
}

.linkIcon {
  margin-right: 10px;
}

.linkText {
  font-size: 14px;
}

/* project member */

.project .member {
  margin-top: 15px;
  display: flex;
  align-items: center;
  height: 30px;
}

.project .memberImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  clip-path: circle(50% at center);
}

.project .memberName {
  color: var(--text);
}

.projectTags {
  margin-top: 15px;
  color: var(--neutral);
}

/* project image */

.projectImage {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.projectImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 25%, 100% 0%, 100% 75%, 0% 100%);
}

/* desktop formatting */

@media only screen and (min-width: 992px) {
  /* name input */

  #nameInput {
    max-width: 500px;
    margin-right: auto;
    flex-grow: 1;
  }

  /* project */

  .project {
    height: 300px;
    flex-direction: row;
  }

  /* project info */

  .projectInfo {
    width: 40%;
  }

  /* project image */

  .projectImage {
    width: calc(60% - 60px);
    height: 100%;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .project:nth-child(even) .projectImage img {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
  }

  .project:nth-child(odd) .projectImage img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
}

/* widescreen formatting */

@media only screen and (min-width: 1500px) {
  /* project results */

  #projectsResults > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* project */

  .project {
    width: calc(50% - 15px);
    margin-right: none;
  }
}